<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3-array.v2.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

    <script
            src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {#    <script src="/js/app_functions.js"></script>#}
    <script src="{{ url_for('static', filename='app_functions.js') }}"></script>
    <script>
        $(function () {

                let urlParams = getUrlParams(location.search);
                if (urlParams.hasOwnProperty('start') && urlParams.hasOwnProperty('end')) {
                    $("#start").val(decodeURIComponent(urlParams.start));
                    $("#end").val(decodeURIComponent(urlParams.end));
                }


                $('#yesterday').click(() => {
                    // make the time date range 00 -> 23 for yesterday
                    console.log("yesterday")
                    let d = getDateTime(-1)
                    console.log(d)
                    $("#start").val(d + "T00:00:00");
                    $("#end").val(d + "T23:59:59");
                });

                $('#today').click(() => {
                    // make the time date range 00 -> 23 for yesterday
                    console.log("today")
                    let d = getDateTime(0)
                    console.log(d)
                    $("#start").val(d + "T00:00:00");
                    $("#end").val(d + "T23:59:59");
                });

                const params = window.location.search

                $('#links').append($('<a>').attr('href', '/level'+params).text("Tank hot water level")).append("<br>");
                $('#links').append($('<a>').attr('href', '/graph'+params).text("Temp of each probe")).append("<br>");
                $('#links').append($('<a>').attr('href', '/table'+params).text("Table of tank temp")).append("<br>");
                $('#links').append($('<a>').attr('href', '/heatmap'+params).text("Tank heatmap")).append("<br>");
            }
        )
        ;

    </script>
</head>
<body>
<div class="container-fluid">
    <div id="my_dataviz"></div>
    {% block content %}{% endblock %}
    <div id="links" style="padding: 0px 0px 10px 14px">
    </div>
    <form id="daterange" method="get">
        <div class="form-group col-3">
            <label for="start">Start Time/Date (YYYY-mm-ddTHH:MM:SS)</label>
            <input type="text" class="form-control" id="start" name="start" aria-describedby="startHelp"
                   placeholder="Enter start">
        </div>
        <div class="form-group col-3">
            <label for="end">End Time (YYYY-mm-ddTHH:MM:SS)</label>
            <input type="text" class="form-control" id="end" name="end" placeholder="Enter end">
            <br/>
            <input type="submit" value="Yesterday" class="btn btn-primary" id="yesterday">
            <input type="submit" value="Today" class="btn btn-primary" id="today">
            <br>
            <br>
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
    </form>
</div>

</body>
</html>