{% extends 'main.html' %}
{% block title %}Graph{% endblock %}
{% block content %}
    <style>
        .table-sm td, .table-sm th {
            padding: 0px;
        }

        #main_div {
            margin: 4px, 4px;
            padding: 4px;
            {#background-color: #08c708;#}
            width: 100%;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
        }

    </style>
    <script>
        $(() => {
            let main_div = $('<div>').attr('id', 'main_div').text("Table of temperatures").css('font-size', '12x')
            let main_table = $("<table>").attr('class', 'table-sm').css('margin', '20px');
            console.log("welcome to table");
            let main_tr = $('<tr>')

            function toColor(t, tmin, tmax) {
                let tres = ((t - tmin) / (tmax - tmin)) * 255;
                return "rgb(" + [tres, 0, 255 - tres].join(",") + ")";
            }

            const t_max = 50
            const t_min = 20

            $.get("/get_all_data", (d) => {
                count = 0
                header_count = 0
                var first_col = true
                d.data.forEach((x) => {
                    if (count % 11 === 0) {
                        td1 = $('<td>')
                        table2 = $("<table>").attr('class', 'table-sm table-striped table-dark table-bordered');

                        tr2 = $('<tr>').attr('id', 'tr');
                        // This is just to pad the top row so the 1st time is not over the 1st column
                        if (first_col) {
                            tr2.append('<td></td>')
                            first_col = false
                        }
                        let td21 = $('<th>')
                        {#.css('transform', 'rotateZ(-90.0deg)')#}
                        {#.css('height','75').css('width', '12px');#}
                        let div21 = $('<div>')
                            .text(x.time.split("T")[1])
                            .attr('colspan', '2')
                            .css('padding', '9px 5px 0px 0px')
                            .css('transform', 'rotate(-90.0deg)')
                            .css('transform-origin', 'right center')
                            .css('height', '75')
                            .css('width', '30px')
                            .attr('id', 'header' + header_count);
                        td21.append(div21)
                        tr2.append(td21)
                        table2.append(tr2)
                        td1.append(table2)
                        main_tr.append(td1) // append <td> to main tr
                        header_count++;
                    } else {
                        tr2 = $('<tr>').attr('id', 'tr').css('text-align', 'center');

                        if (count < 11) {
                            let td22 = $('<td>').text(x.id).css('padding', '3px');
                            tr2.append(td22);
                        }
                        // TODO: Make the temp change the color between blue and red
                        let td23 = $('<td>')
                            .text(parseFloat(x.temp).toFixed())
                            .css('padding', '3px')
                            .css('background-color', toColor(x.temp, t_min, t_max));
                        tr2.attr('id', 'row' + header_count + count);
                        tr2.append(td23);
                        table2.append(tr2)
                        td1.append(table2)
                        main_tr.append(td1)
                    }


                    if (count % 11 === 0) {
                        main_tr.append(table2)

                    }

                    count++;

                });
                main_table.append(main_tr)
                main_div.append(main_table)
                $('#my_dataviz').append(main_div);

            });


        })
        ;

    </script>
{% endblock %}